*{
//    margin: 0;
//    padding: 100;
    box-sizing: border-box;
}

$bandlabBlue: #4990e2;
$bandlabDarkBlue: #3C7BC2;
$slightGray: #F2F2F2;

html,body{
    margin: 0;
    background-color: #fff;
    color: #555;
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

//-----------------------------
//REUSABLE COMPONENTS
//-----------------------------

#app{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url("../img/landing-intro-large-b4b44446e1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    nav{
        flex-basis: 10%;
    }
    .view-container{
        flex-basis: 90%;
    }
}

.row{
    display: flex;
    flex-flow: row nowrap;
}

.column{
    display: flex;
    flex-flow: column nowrap;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    li{
        display: inline-block;
        margin-right: 20px;
    }
}

.btn:link,.btn:visited{
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: $bandlabBlue;
    padding: 10 20px;
    font-weight: 400;
    font-size:90%;
    transition: background-color 0.2s;
}

.btn:hover,.btn:active{
    background-color: $bandlabDarkBlue;
}

.post{
    background-color: $slightGray;
    border-radius: 10px;
    padding: 8px;
    margin: 5px 10px;
    opacity: 0.9;
    font-size: 80%;
}

//-----------------------------
//CUSTOM COMPONENTS
//-----------------------------

.main-nav{
    align-items: center;
    width: 100%;
    .sitelogo{
        align-items: center;
        flex-basis: 80%;
        h1{
            margin-left: -150px;
        }
    }
    li{
        a:link,a:visited{
            color: #fff;
//            font-size: 100%;
            font-weight: 400;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s;
        }
        a:hover,a:active{
            border-bottom: 2px solid #fff;
        }
    }
}

.posts{
    margin: 20px 50px;
    .filters{
        margin-bottom: 5px;
        color: #fff;
        font-weight: 400;
    }
    .no-posts{
        height: 70%;
        justify-content: center;
        align-items: center;
        background-color: $slightGray;
        border-radius: 15px;
        opacity: 0.8;
//        transition: display 0.5s;
        h2{
            padding: 20px;
            border-radius: 20px;
        }
    }
    .posts-area{
        flex-flow: column nowrap;
        height: 70%;
        align-items: stretch;
        overflow-y: auto;
        padding: 10px;
//        .post{
//            background-color: $slightGray;
//            border-radius: 10px;
//            padding: 8px;
//            margin: 5px 10px;
//            opacity: 0.9;
//            font-size: 80%;
            .by{
                display: inline-block;
                margin-left: 5px;
                background-color: dimgray;
                border-radius: 5px;
                padding: 1px 5px;
                font-size: 80%;
                color: #fff;
            }
            h3{
                margin: 0;
                display: inline-block;
            }
            p{
                margin: 0;
//                font-size: 80%;
            }
//        }
        .users{
            font-size: 90%;
            h3{
                color: #fff;
                margin: 0;
                font-weight: 400;
            }
        }
    }
}

.songs{
    justify-content: space-around;
    margin-top: 10%;
    .song-container{
        flex-basis: 40%;
        justify-content: center;
        align-items: center;
        background-color: #969696;
        border-radius: 15px;
        padding: 20px;
        margin: 0 15px;
        opacity: 0.8;
        h3{
            font-weight: 300;
            color: #fff;
        }
        audio{
            width: 100%;
        }
    }
}

