* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  background-color: #fff;
  color: #555;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

#app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("../img/landing-intro-large-b4b44446e1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; }
  #app nav {
    flex-basis: 10%; }
  #app .view-container {
    flex-basis: 90%; }

.row {
  display: flex;
  flex-flow: row nowrap; }

.column {
  display: flex;
  flex-flow: column nowrap; }

a {
  text-decoration: none; }

ul {
  list-style: none; }
  ul li {
    display: inline-block;
    margin-right: 20px; }

.btn:link, .btn:visited {
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  background-color: #4990e2;
  padding: 10 20px;
  font-weight: 400;
  font-size: 90%;
  transition: background-color 0.2s; }

.btn:hover, .btn:active {
  background-color: #3C7BC2; }

.post {
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 8px;
  margin: 5px 10px;
  opacity: 0.9;
  font-size: 80%; }

.main-nav {
  align-items: center;
  width: 100%; }
  .main-nav .sitelogo {
    align-items: center;
    flex-basis: 80%; }
    .main-nav .sitelogo h1 {
      margin-left: -150px; }
  .main-nav li a:link, .main-nav li a:visited {
    color: #fff;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s; }
  .main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #fff; }

.posts {
  margin: 20px 50px; }
  .posts .filters {
    margin-bottom: 5px;
    color: #fff;
    font-weight: 400; }
  .posts .no-posts {
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    opacity: 0.8; }
    .posts .no-posts h2 {
      padding: 20px;
      border-radius: 20px; }
  .posts .posts-area {
    flex-flow: column nowrap;
    height: 70%;
    align-items: stretch;
    overflow-y: auto;
    padding: 10px; }
    .posts .posts-area .by {
      display: inline-block;
      margin-left: 5px;
      background-color: dimgray;
      border-radius: 5px;
      padding: 1px 5px;
      font-size: 80%;
      color: #fff; }
    .posts .posts-area h3 {
      margin: 0;
      display: inline-block; }
    .posts .posts-area p {
      margin: 0; }
    .posts .posts-area .users {
      font-size: 90%; }
      .posts .posts-area .users h3 {
        color: #fff;
        margin: 0;
        font-weight: 400; }

.songs {
  justify-content: space-around;
  margin-top: 10%; }
  .songs .song-container {
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    background-color: #969696;
    border-radius: 15px;
    padding: 20px;
    margin: 0 15px;
    opacity: 0.8; }
    .songs .song-container h3 {
      font-weight: 300;
      color: #fff; }
    .songs .song-container audio {
      width: 100%; }
