<div class="posts">
	<div class="row filters">
        <a href="#" ng-click="home.getPosts()" class="btn" ng-hide="home.generated">Generate posts</a>
        <div ng-show="home.allPosts.length">
            Title: 
        </div>
        <select class="dropdown" ng-change="home.sortTitle()" ng-model="home.sort" ng-show="home.allPosts.length">
            <option value="false">Ascending</option>
            <option value="true">Descending</option>
        </select>
            
        <select class="dropdown" ng-model="home.group" ng-show="home.allPosts.length">
            <option value="nogroup">No group</option>
            <option value="user">Group by user ID</option>
        </select>
    </div>
    <div class="column no-posts" ng-show="!home.allPosts.length">
        <h2>No posts</h2>
    </div>
    <div class="column posts-area" ng-show="home.allPosts.length">
        <div class="post" ng-repeat="post in home.allPosts | orderBy:'title':home.reverse" ng-if="home.group === 'nogroup'">
            <h3>{{post.title}}</h3>
            <div class="by">by: {{post.userId}}</div>
            <p>{{post.body}}</p>
        </div>
        <div class="users" ng-repeat="(key,user) in home.postsPerUser" ng-if="home.group === 'user'">
            <h3 ng-show="key > 0"><b>User: {{key}}</b></h3>
            <div class="post" ng-repeat="post in user | orderBy:'title':home.reverse">
                <b>{{post.title}}</b>
                <p>{{post.body}}</p>
            </div>
        </div>
    </div>
</div>