<div class="row songs">
	<div class="column song-container">   
        <h3>New Wave Kit</h3>
        <audio controls>
            <source src="https://static.bandlab.com/soundbanks/previews/new-wave-kit.ogg" type="audio/ogg">
        </audio>
    </div>
    <div class="column song-container">
        <h3>Synth Organ</h3>
        <audio controls>
            <source src="https://static.bandlab.com/soundbanks/previews/synth-organ.ogg" type="audio/ogg">
        </audio>
    </div>
</div>